#CA根证书
openssl rand -out private/.rand 1000
openssl genrsa -out private/ca.key 2048
openssl req -new -key private/ca.key -out private/ca.csr -subj "/C=CN/O=wanwanvv personal, Inc./OU=Domain Validated SSL/CN=wanwanvv CA"
openssl x509 -req -days 36500 -sha1 -extensions v3_ca -signkey private/ca.key -in private/ca.csr -out certs/ca.crt

#根证书格式转换
#密码:123456; 验证密码:123456
openssl pkcs12 -export -cacerts -inkey private/ca.key -in certs/ca.crt -out certs/ca.p12

#根签发服务器证书
openssl genrsa -out private/server.key 2048
openssl req -new -key private/server.key -out private/server.csr -subj "/C=CN/O=wanwanvv personal, Inc./OU=Domain Validated SSL/CN=*.wanwanvv.com" -config /home/wanwanvv/anaconda3/ssl/openssl.cnf
openssl ca -days 36500 -in private/server.csr -out certs/server.crt -cert certs/ca.crt -keyfile private/ca.key -config /home/wanwanvv/anaconda3/ssl/openssl.cnf
#openssl ca -days 36500 -in private/client.csr -out certs/client.crt -cert certs/ca.crt -keyfile private/ca.key -config /home/wanwanvv/anaconda3/ssl/openssl.cnf

#服务器证书格式转换
openssl pkcs12 -export -clcerts -inkey private/server.key -in certs/domain.crt -out certs/domain.p12

#签发客户端证书
openssl genrsa -out private/client.key 2048
openssl req -new -key private/client.key -out private/client.csr -subj "/C=CN/O=wanwanvv personal, Inc./OU=Domain Validated SSL/CN=*.test.com"
openssl x509 -req -days 36500 -in private/client.csr -signkey client.key -out certs/client.crt

#客户端证书格式转换
openssl pkcs12 -export -inkey private/client.key -in certs/client.cer -out certs/client.p12


